{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{% firstof event.title event_title "no title" %}{% endblock %}
{% block bodyclass %}accounts_reset_password{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 page-title">
        <h1>{% firstof event.title event_title "no title" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 page-content">
        <div class="explanation">
            <p class="lang-ja">ID(メールアドレス)をご入力ください。パスワード設定用URLを登録されたメールアドレスに通知いたします。</p>
            <p class="lang-en">Please enter the ID (email address).  You will receive the URL to reset your password.</p>
        </div>
        {% if success %}
        <div style="color:red;">
            <p>メールを送信しました<br>Email sent.</p>
        </div>
        {% endif %}
        {% if email_error %}
        <div class="explanation text-danger">
            <p class="lang-ja">メールを送信できませんでした。</p>
            <p class="lang-en">Email could not be sent.</p>
        </div>
        {% endif %}









        <form action="{% url "accounts_reset_password" %}" method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label class="" for="email">
                <span class="lang-ja">メールアドレス</span>
                <span class="lang-en">Please type your email address.</span>
            </label>
            <input type="email" class="form-control input-small" id="email" name="email" placeholder="メールアドレス">
        </div>
        <div class="hidden form-other-error"></div>
        {% if email_not_found_error %}
        <div class="email_not_found_error">
            <p class="lang-ja">メールアドレスが見つかりません。もう一度、ご入力ください。<br> もしくは、下記の事務局にお問い合わせください。</p>
            <p class="lang-en">The email address you entered does not match with our record. <br> Please enter again or please contact our administration office below.</p>
        </div>
        {% endif %}
        <button type="submit" name="submit-button" class="btn">
            <span class="lang-ja">再発行</span>
            <span class="lang-en">Reset Password</span>
        </button>
        </form>
    </div>

</div>


{% endblock %}
