{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{% firstof event.title event_title "no title" %}{% endblock %}
{% block bodyclass %}accounts_reset_password_code{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 page-title">
        <h1>{% firstof event.title event_title "no title" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 page-content page-content--desc">
        <div class="explanation">
            <p class="lang-ja">パスワード再設定をお願い致します。</p>
            <p class="lang-en">Please set up your new password.</p>
        </div>
        <div class="explanation">
            <p class="lang-ja">パスワードはユーザーネームを含まない、8文字以上の必要があります。<br>また、パスワードには次の4種類の文字から3種類以上使用する必要があります。<br>数字 (0〜9)、英大文字 (A〜Z）、小文字 (a〜z)、記号文字(#$!+_. )。全角文字は使用できません。</p>
        </div>
        <div class="explanation">
            <p class="lang-en">Your password should not include your ID and more than 8 characters. <br>Your password also should contain more than 3 out of 4 of the following:<br>Number: 0-9, Uppercase letters: A-Z, Lowercase letters; a-z, symbols: #$!+_.  Double-byte characters cannot be used.<br><br></p>
        </div>
    </div>
</div>


<div class="password-setup-form-container">
    <form action="{% url "accounts_reset_password_code" code=code %}" method="post" class="form">
        {% csrf_token %}
        <div class="{% if not error %}hidden{% endif %} form-other-error">{{ error }}</div>
        <div class="form-group">
            <label class="" for="pwd1">
                <span class="lang-ja">パスワードをご記入ください。</span>
                <span class="lang-en">Please type your password.</span>
            </label>
            <input type="password" class="form-control input-small" id="pwd1" name="pwd1" placeholder="パスワード/Password">
        </div>
        <div class="form-group">
            <label class="" for="pwd2">
                <span class="lang-ja">パスワードを再度記入ください。</span>
                <span class="lang-en">Please re-type your password.</span>
            </label>
            <input type="password" class="form-control input-small" id="pwd2" name="pwd2" placeholder="パスワード/Password">
        </div>
<!--         <div class="hidden form-other-error"></div> -->
        {% if code_not_matching_error %}
        <div class="code_not_matching_error">
            <p class="lang-ja">"メールアドレスが見つかりません。もう一度、ご入力ください。もしくは、下記の事務局にお問い合わせください。</p>
            <p class="lang-en">The email address you entered does not match with our record. Please enter again or please contact our administration office below.</p>
        </div>
        {% endif %}
        <button type="submit" name="submit-button" class="btn">
            <span class="lang-ja">再発行</span>
            <span class="lang-en">Set Password</span>
        </button>
    </form>
</div>


{% endblock %}
