{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ event.title|default:"Overview" }}{% endblock %}
{% block bodyclass %}overview{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 page-title">
        <h1>Password Reset</h1>
    </div>
</div>

<div class="row">
    <div class="page-content page-content--desc">
        <div class="explanation lang-ja">
            <p>Your password was successfully reset.</p>
        </div>

        <div class="explanation lang-en">
            <p>パスワード設定を再設定致しました。</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="page-content page-content--desc">
        <div class="explanation lang-ja">
            <p><a href="/overview">If you wish to edit your registered information please click here</a></p>
        </div>

        <div class="explanation lang-en">
            <p><a href="/overview">ご登録いただきました情報を変更ご希望の方はこちら。</a></p>
        </div>
    </div>
</div>

{% endblock %}
